<h1> LANDING PAGE :) </h1>	



  <%= link_to 'login', new_user_session_path %>




<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signupmodal">
  Launch demo modal
</button>