<h1> LANDING PAGE :) </h1>	



  <%= link_to 'Register', new_user_session_path, :remote => true, 'data-toggle' => "modal", 'data-target' => "#login-modal", method: 'get' %>

<%=link_to "Sign up", new_user_registration_path %>