<h1> LANDING PAGE :) </h1>	


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signupmodal">
  Sign up
</button>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#login-modal">
  Log in
</button>