<div class="container">
<h1> LANDING PAGE :) </h1>	


<p>Get more done.</p>

<p>Organize your life blah blah blah</p>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signupmodal">
  Sign up
</button>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#login-modal">
  Log in
</button>

</div>