<div class="container-fluid">
	<div class="row">
		<div class="col col-6 mx-auto mt-5">
			<div class="card">
				<ul class="list-group list-group-flush">
					<li class="list-group-item text-center" style="font-weight: bold;">Mes informations personnelles</li>
					<li class="list-group-item"><%= @user.first_name%></li>
					<li class="list-group-item"><%=@user.last_name%></li>
					<li class="list-group-item"><%=@user.email%></li>
					<li class="list-group-item"><%=link_to "Éditer mon profil", edit_user_path(current_user.id)%></li>
				</ul>
			</div>
		</div>
	</div>
</div>