<div class="container-fluid">
	<div class="row">
		<% @cards.each do |card| %>
		<div class="col col-3 mt-5">
			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title"><%= card.title %></h5>
					
					<% card.items.each do |item| %>

					<p class="card-text"><%= item.name %></p>
					<%end%>  
				</div>
			</div>
		</div>
		<%end%>
	</div>
</div>