<div class="container-fluid">
	<div class="row">
		<% @cards.each do |card| %>
		<div class="col col-3 mt-5">
			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title"><%= card.title %></h5>
					
					<% card.items.each do |item| %>

					<p class="card-text"><%= item.name %>  
					<%= link_to "", item_path(item.id), method: :delete, data: { confirm: 'Êtes-vous sûr(e) ?' }, class: "fas fa-trash-alt float-right" %>
		
					<i onclick="myFunction()" class="fas fa-backspace float-right pr-2"></i>
					</p>

					
					
					<%end%>  
				</div>
			</div>
		</div>
		<%end%>
	</div>
</div>

<script type="text/javascript">
	function myFunction() {

	document.querySelector('.card-text').classList.toggle("test");
	}
</script>